desktop.ini
Start.exe
Start10.exe
setup.sh
start
.vscode/
/arduino
nwjs/
python/
Linux/
flag/FlagsBlock/Service Worker/
flag/FlagsBlock/Local Storage/
flag/FlagsBlock/GPUCache/
flag/FlagsBlock/Cache/
block/FlagsBlockSketch/preferences_bak.txt
block/FlagsBlockSketch/preferences.txt
block/FlagsBlockSketch/FlagsBlockSketch.ino
block/FIRSTRUN
*.pyc